<header>
	<div class="card">
		<div class="card-header">

		</div>
		<div class="card-body">
			{{titre}}
		</div>
	</div>
</header>
<body>
<div class="d-flex flex-row justify-content-center" style="height: 500px;">
	<div class="d-flex flex-column">

		<div class="p-5">
			<label for="formGroupExampleInput ">Prise de rendez-vous</label>
			<div class="d-flex flex-row border p-3">
				<div class="d-flex flex-column ">
					<p class>{{nomCentre}}</p>
					<p class>{{adresseCentre}}</p>
				</div>
			</div>
		</div>


		<form>

			<div class="form-group">
				<div class="d-flex flex-row">
					<div class="d-flex flex-column p-3 ">
						<label for="exampleFormControlInput1">Nom</label>
						<input class="form-control" id="exampleFormControlInput1" placeholder="Martin" type="email">
					</div>
					<div class="d-flex flex-column p-3">
						<label for="exampleFormControlInput1">Prénom</label>
						<input class="form-control" id="exampleFormControlInput2" placeholder="Thomas" type="email">
					</div>

				</div>
				<div class="d-flex flex-column p-3">
					<label for="exampleFormControlInput1">Email</label>
					<input class="form-control" id="exampleFormControlInput2" placeholder="thomas.martin@gmail.com"
						   type="email">

					<div class="d-flex flex-row">
						<div class="d-flex flex-column p-3">

							<label for="meeting-time">Date du rendez-vous</label>

							<div>
								<input class="pe-9" id="meeting-time" max="2024-01-01T00:00"
									   min="2022-01-01T00:00" name="meeting-time"
									   type="datetime-local" value="datetime-local">
								<button class="btn btn-primary " type="button">Rechercher</button>
							</div>


						</div>


					</div>
				</div>
			</div>
		</form>
	</div>


</div>
</body>
