<body>

<div class="justify-content-center" style="height: 500px;">
	<div class="p-5">
		<form (ngSubmit)="onSubmit()" [formGroup]="searchForm" class="d-flex flex-column">
			<label class="text-center" for="ville">Trouver un centre de vaccination</label>
			<div class="d-flex flex-row justify-content-center">
				<mat-form-field appearance="fill">
					<mat-label>Ville</mat-label>
					<input formControlName="ville" id="ville" matInput placeholder="Ville" type="text">
				</mat-form-field>
				<div class="p-3">
					<button color="primary" mat-raised-button>Rechercher</button>
				</div>
			</div>
		</form>
	</div>

	<ng-container *ngIf="centres.length > 0">
		<div *ngFor="let centre of centres" class="d-flex flex-column align-content-center list-group p-5 m-5">
			<app-centre-card [adresse]="centre.adresse" [id]="centre.id" [nom]="centre.nom"
							 [ville]="centre.ville"></app-centre-card>
		</div>
	</ng-container>

	<ng-container *ngIf="centres.length == 0">
		<div class="d-flex flex-column p-5">
			<h3 class="text-center">Aucun centre trouvé</h3>
		</div>
	</ng-container>

</div>

</body>
