
<header>
    <div class="card"> 
        <div class="card-header">
            
        </div>    
            <div class="card-body">
            {{titre}}
            </div>
    </div>
</header>
<body>
    <div class="d-flex flex-row justify-content-center align-items-center" style="height: 300px;">
        <div class="p-2">
            <label for="formGroupExampleInput">{{nomSearchBar}}</label>
            <div class="d-flex flex-row"> 
                <input type="text" class="form-control" id="searchBar" placeholder="Ville">
                <button type="button" class="btn btn-primary">Rechercher</button>
            </div>
            
      
            
        </div>
    </div>
    


</body>