<header>
    <div class="card"> 
        <div class="card-header">
            
        </div>    
            <div class="card-body">
                {{titre}}
            </div>
    </div>
</header>



<nav class="nav navbar-expand navbar-light bg-light">
    <ul class="nav nav-pills">
    
    <li class="d-flex flex-row">
        <a class="nav-link" [routerLink] = "['home']" >Accueil</a>
        <a class="nav-link" [routerLink] = "['listeCentres']" >Liste des centres</a>
        <a class="nav-link"  [routerLink] = "['NotFound']" ></a>

       
    </li>
  

    </ul>




</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>