<div class="d-flex flex-column justify-content-center">
	<table [dataSource]="reservations" mat-table>
		<ng-container matColumnDef="centre-nom">
			<th *matHeaderCellDef mat-header-cell>Centre</th>
			<td *matCellDef="let element" mat-cell>{{element.centre.nom}}</td>
		</ng-container>

		<ng-container matColumnDef="centre-address">
			<th *matHeaderCellDef mat-header-cell>Adresse</th>
			<td *matCellDef="let element" mat-cell>{{element.centre.adresse}}, {{element.centre.ville}}</td>
		</ng-container>

		<ng-container matColumnDef="faite">
			<th *matHeaderCellDef mat-header-cell>Faite</th>
			<td *matCellDef="let element" mat-cell>
				<button (click)="update(element)" [disabled]="element.faite" color="accent" mat-icon-button>
					<mat-icon>{{element.faite ? 'check_circle' : 'radio_button_unchecked'}}</mat-icon>
				</button>
			</td>
		</ng-container>

		<tr *matHeaderRowDef="columns" mat-header-row></tr>
		<tr *matRowDef="let row; columns: columns;" mat-row></tr>
	</table>
</div>
