<div class="d-flex flex-column justify-content-center">
	<table [dataSource]="patients" mat-table>
		<ng-container matColumnDef="id">
			<th *matHeaderCellDef mat-header-cell>N°</th>
			<td *matCellDef="let element" mat-cell><span
				class="fst-italic fw-lighter">#{{element.id}}</span></td>
		</ng-container>

		<ng-container matColumnDef="nom">
			<th *matHeaderCellDef mat-header-cell>Nom</th>
			<td *matCellDef="let element"
				mat-cell>{{element.nom}}</td>
		</ng-container>

		<ng-container matColumnDef="prenom">
			<th *matHeaderCellDef mat-header-cell>Prenom</th>
			<td *matCellDef="let element" mat-cell>{{element.prenom}}</td>
		</ng-container>

		<ng-container matColumnDef="mail">
			<th *matHeaderCellDef mat-header-cell>Prenom</th>
			<td *matCellDef="let element" mat-cell>{{element.mail}}</td>
		</ng-container>

		<ng-container matColumnDef="telephone">
			<th *matHeaderCellDef mat-header-cell>Prenom</th>
			<td *matCellDef="let element" mat-cell>{{element.telephone}}</td>
		</ng-container>

		<ng-container matColumnDef="action">
			<th *matHeaderCellDef mat-header-cell>Action</th>
			<td *matCellDef="let element" mat-cell>
				<a [routerLink]="['../reservations']" [state]="element" color="primary" mat-icon-button>
					<mat-icon>chevron_right</mat-icon>
				</a>
			</td>
		</ng-container>

		<tr *matHeaderRowDef="columns" mat-header-row></tr>
		<tr *matRowDef="let row; columns: columns;" mat-row></tr>
	</table>
</div>
