<mat-dialog-content>
	<form [formGroup]="form" class="d-flex flex-column justify-content-center">
		<mat-form-field appearance="fill">
			<mat-label>Nom d'utilisateur</mat-label>
			<input formControlName="username" matInput placeholder="medecin" required type="text"/>
		</mat-form-field>

		<mat-form-field appearance="fill">
			<mat-label>Mot de passe</mat-label>
			<input [type]="visiblePassword ? 'text' : 'password'" formControlName="password"
				   matInput
				   placeholder="mot de passe"/>
			<button (click)="togglePasswordVisibility()" mat-icon-button matSuffix type="button">
				<mat-icon>{{visiblePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
			</button>
		</mat-form-field>

		<mat-form-field appearance="fill">
			<mat-label>Centre</mat-label>
			<input [matAutocomplete]="autoGroup" formControlName="centre" matInput
				   required type="text"/>
			<mat-autocomplete #autoGroup="matAutocomplete" [displayWith]="displayCentre">
				<mat-optgroup *ngFor="let group of filteredCentres | async | keyvalue" [label]="group.key">
					<mat-option *ngFor="let centre of group.value" [value]="centre">
						{{centre.nom}}<span class="fst-italic fw-lighter">#{{centre.id}}</span>
					</mat-option>
				</mat-optgroup>
			</mat-autocomplete>
		</mat-form-field>
	</form>
</mat-dialog-content>

<mat-dialog-actions>
	<button [mat-dialog-close]="null" mat-button>Annuler</button>
	<button (click)="submit()" color="primary" mat-raised-button>Modifier</button>
</mat-dialog-actions>
